.version.gallery /* version checker */
{
	color: #000014;
	background-color: #08E381;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 919px;
	min-height: 34px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 23px 20px 443px 21px;
}

#menuu90
{
	z-index: 2;
	width: 919px;
}

#u98
{
	width: 228px;
	min-height: 34px;
	margin-right: -10000px;
}

#u101
{
	width: 228px;
	padding-bottom: 17px;
}

#u101:hover
{
	margin: 0px;
}

#u101:active
{
	margin: 0px;
}

#u103-4
{
	width: 228px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u101:hover #u103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u101:active #u103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u91
{
	width: 228px;
	min-height: 34px;
	margin-right: -10000px;
	left: 230px;
}

#u92
{
	width: 228px;
	padding-bottom: 17px;
}

#u101.MuseMenuActive,#u92:hover
{
	margin: 0px;
}

#u92:active
{
	margin: 0px;
}

#u93-4
{
	width: 228px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u101.MuseMenuActive #u103-4,#u92:hover #u93-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u92:active #u93-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u106
{
	width: 228px;
	min-height: 34px;
	margin-right: -10000px;
	left: 460px;
}

#u109
{
	width: 228px;
	padding-bottom: 17px;
}

#u92.MuseMenuActive,#u109:hover
{
	margin: 0px;
}

#u109:active
{
	margin: 0px;
}

#u111-4
{
	width: 228px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u92.MuseMenuActive #u93-4,#u109:hover #u111-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u109:active #u111-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u113
{
	width: 229px;
	min-height: 34px;
	margin-right: -10000px;
	left: 690px;
}

#u114
{
	width: 229px;
	padding-bottom: 17px;
}

#u109.MuseMenuActive,#u114:hover
{
	margin: 0px;
}

#u114:active
{
	margin: 0px;
}

#u114.MuseMenuActive
{
	margin: 0px;
}

#u115-4
{
	width: 229px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u109.MuseMenuActive #u111-4,#u114:hover #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u114:active #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u114.MuseMenuActive #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

