@charset "utf-8";

body {
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-image: url(images/Futurama_cartoons_minimalistic_simple_background_simple_blue_background_TV_shows_2560x1600.jpg);
	width: 100%;
	left: 0px;
	top: 0px;
}
.mainArea {
	display: block;
	font-family: ruluko;
	font-style: normal;
	font-weight: 400;
	margin-top: 35px;
	padding-top: 0px;
}
.aboutNav {
	background-image: url(images/house246.png);
	background-size: contain;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-repeat: no-repeat;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	opacity: 0.2;
	margin-top: 0px;
}
.portfolioNav {
	background-image: url(images/folder295.png);
	background-size: contain;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 13px;
	padding-bottom: 15px;
	background-repeat: no-repeat;
	opacity: 0.2;
	-webkit-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
}
.contactNav {
	background-image: url(images/mail124.png);
	background-size: contain;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 11px;
	padding-bottom: 15px;
	background-repeat: no-repeat;
	opacity: 0.2;
	-webkit-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
}
header {
	text-align: left;
	width: 100%;
	position: fixed;
	height: 35px;
	border-bottom: thin dotted #000000;
	background-color: #D3D2D2;
	top: 0px;
	left: 0px;
	display: block;
}
.aboutMeLeft {
	display: block;
	width: 35%;
	float: left;
	text-align: left;
	display: block;
	margin-left: 10%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.aboutMeRight {
	display: block;
	width: 40%;
	text-align: right;
	float: right;
	color: #777777;
	margin-right: 10%;
	margin-top: 5%;
	background-color: #F0F0F0;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.portfolio{
	clear: both;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	color: #777777;
	border: medium none #D3D2D2;
	background-color: #F0F0F0;
	display: block;
}
.aboutNav:hover {
	-webkit-opacity: 1;
	opacity: 1;
	background-position: 0px 15px;
}
.portfolioNav:hover {
	background-position: 0px 15px;
	-webkit-opacity: 1;
	opacity: 1;
}
.contactNav:hover {
	background-position: 0px 15px;
	-webkit-opacity: 1;
	opacity: 1;
}
.blankLine {
	width: 5px;
}
h1 {
	font-family: anonymous-pro;
	font-style: normal;
	font-weight: 400;
	font-size: xx-large;
	margin-bottom: -10px;
	color: #000000;
	margin-top: 10px;
}
.contactArea {
	padding-left: 5%;
	background-color: #F0F0F0;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 1%;
	padding-bottom: 1%;








	width: 50%
%;
}
footer {
	text-align: center;
	opacity: 1;
	background-color: #573B0C;
	color: #5DE468;
	box-shadow: 0px 500px 0px 500px #573B0C;
}
h2 {
	font-family: source-sans-pro;
	font-style: normal;
	font-weight: 400;
	color: #000000;

}
.navIcons {
	margin-right: 10%;
	text-align: right;
}
.mainArea .portfolio .expandedBodyText {
	padding-left: 5%;
	padding-right: 5%;
}
.mainArea .portfolio .projectTwo {
	border-top: medium none #D3D2D2;
}
.mainArea .aboutMe {



}
.mainArea .portfolio .splittingLine {
	background-color: #828282;
	width: 0px;
	height: 50px;
}
.mainArea .portfolio hr {
	margin-left: 20%;
	margin-right: 20%;
}
.contactArea #form1 #submit {
}
.myLogo {
	width: 20%;
	display: block;
}
.projectTitle   {
	font-family: asap;
	font-style: normal;
	font-weight: 400;
}
.footerHyperLink {
	color: inherit;
	text-decoration: underline;
}